*.py~
*.pyc
config.pyc
/__pycache__
.gitignore~
*.csv~
*.sav
temp.py
QuickUMLS/.gitignore
QuickUMLS/LICENSE.txt
QuickUMLS/README.md
QuickUMLS/__init__.py
QuickUMLS/client.py
QuickUMLS/constants.py
QuickUMLS/install.py
QuickUMLS/network.py
QuickUMLS/quickumls.py
QuickUMLS/quickumlsfiles/
QuickUMLS/requirements.txt
QuickUMLS/server.py
QuickUMLS/setup_simstring.sh
QuickUMLS/toolbox.py
